Repository private-attribution/draft: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pytest, pytest-coverage, pyre-check, npm-lint, npm-build, prettier, jest-tests

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
    - id: isort
      name: isort (python)
- repo: https://github.com/psf/black
  rev: 23.12.0
  hooks:
    - id: black
- repo: local
  hooks:
    - id: pylint
      name: pylint
      language: python
      entry: pylint
      types: [python]
      args:
        [
          "-rn", # Only display messages
        ]
    - id: pytest
      name: pytest
      language: python
      entry: pytest
      types: [python]
      pass_filenames: false
      args: [--cov=sidecar]
    - id : pytest-coverage
      name: coverage
      language: python
      entry: coverage report
      types: [python]
      pass_filenames: false
      args: [--fail-under=9] # increase this over time
    - id: pyre-check
      name: pyre-check
      entry: pyre check
      language: system
      types: [python]
      pass_filenames: false
    - id: npm-lint
      name: npm-lint
      entry: npm --prefix server run lint
      language: system
      files: ^server/
      types_or: [javascript, jsx, ts, tsx]
      pass_filenames: false
    - id: npm-build
      name: npm-build
      entry: npm --prefix server run build
      language: system
      files: ^server/
      types_or: [javascript, jsx, ts, tsx]
      pass_filenames: false
    - id: prettier
      name: prettier
      entry: npx --prefix server prettier --config=server/.prettierrc --ignore-path=server/.prettierignore --check server
      language: system
      files: ^server/
      types_or: [javascript, jsx, ts, tsx, json]
    - id: jest-tests
      name: jest-tests
      entry: npm --prefix server run test
      language: system
      files: ^server/
      types_or: [javascript, jsx, ts, tsx]
      pass_filenames: false

Update README.md (#76)
  README.md
Due: none

update start query command in line with changes to IPA
  sidecar/app/query/ipa.py
Due: pylint, pytest, pytest-coverage, pyre-check

local dev keys expired
  local_dev/config/h1.key
  local_dev/config/h1_mk.key
  local_dev/config/h2.key
  local_dev/config/h2_mk.key
  local_dev/config/h3.key
  local_dev/config/h3_mk.key
  local_dev/config/network.toml
  local_dev/config/pub/h1.pem
  local_dev/config/pub/h1_mk.pub
  local_dev/config/pub/h2.pem
  local_dev/config/pub/h2_mk.pub
  local_dev/config/pub/h3.pem
  local_dev/config/pub/h3_mk.pub
Due: none

update start query command in line with changes to IPA (#80)
  sidecar/app/query/ipa.py
Due: pylint, pytest, pytest-coverage, pyre-check

local dev keys expired (#81)
  local_dev/config/h1.key
  local_dev/config/h1_mk.key
  local_dev/config/h2.key
  local_dev/config/h2_mk.key
  local_dev/config/h3.key
  local_dev/config/h3_mk.key
  local_dev/config/network.toml
  local_dev/config/pub/h1.pem
  local_dev/config/pub/h1_mk.pub
  local_dev/config/pub/h2.pem
  local_dev/config/pub/h2_mk.pub
  local_dev/config/pub/h3.pem
  local_dev/config/pub/h3_mk.pub
Due: none

add toggle for malicious security
  server/app/query/create/page.tsx
  sidecar/app/query/ipa.py
  sidecar/app/routes/start.py
  sidecar/tests/app/routes/test_start.py
Due: pylint, pytest, pytest-coverage, pyre-check, npm-lint, npm-build, prettier, jest-tests

downgrade minor version of nextjs due to bug causing test failures
  server/package-lock.json
  server/package.json
Due: prettier

Update server/package.json
  server/package.json
Due: prettier

add toggle for malicious security (#84)
  server/app/query/create/page.tsx
  sidecar/app/query/ipa.py
  sidecar/app/routes/start.py
  sidecar/tests/app/routes/test_start.py
Due: pylint, pytest, pytest-coverage, pyre-check, npm-lint, npm-build, prettier, jest-tests

downgrade minor version of nextjs due to bug causing test failures (#85)
  server/package-lock.json
  server/package.json
Due: prettier

preserve helper logs on bounce
  etc/start_helper_sidecar.sh
Due: none

add = to nextjs version
  server/package-lock.json
  server/package.json
Due: prettier

pylint error name change
  sidecar/app/routes/start.py
  sidecar/cli/cli.py
Due: pylint, pytest, pytest-coverage, pyre-check

preserve helper logs on bounce (#87)
  etc/start_helper_sidecar.sh
  server/package-lock.json
  server/package.json
  sidecar/app/routes/start.py
  sidecar/cli/cli.py
Due: pylint, pytest, pytest-coverage, pyre-check, prettier

fix bug where an edge case exception causes a query to not be removed from active running queries
  sidecar/app/query/base.py
Due: pylint, pytest, pytest-coverage, pyre-check

check to make sure helpers need to be killed before sending kill signal
  sidecar/app/query/ipa.py
  sidecar/app/query/status.py
Due: pylint, pytest, pytest-coverage, pyre-check

add test for new Status.from_json classmethod
  sidecar/app/query/status.py
  sidecar/tests/app/query/test_status.py
Due: pylint, pytest, pytest-coverage, pyre-check

add test coverage for failure case
  sidecar/tests/app/query/test_base.py
Due: pylint, pytest, pytest-coverage, pyre-check

refactor repeated url building, move status/kill/finish methods to Helper class
  pyproject.toml
  sidecar/app/helpers.py
  sidecar/app/query/ipa.py
  sidecar/app/settings.py
  sidecar/tests/app/query/test_status.py
Due: pylint, pytest, pytest-coverage, pyre-check

Update test_base.py
  sidecar/tests/app/query/test_base.py
Due: pylint, pytest, pytest-coverage, pyre-check

Update sidecar/app/helpers.py
  sidecar/app/helpers.py
Due: pylint, pytest, pytest-coverage, pyre-check

fix bug where an edge case exception causes a query to not be removed… (#88)
  sidecar/app/query/base.py
  sidecar/tests/app/query/test_base.py
Due: pylint, pytest, pytest-coverage, pyre-check

check to make sure helpers need to be killed before sending kill signal (#89)
  pyproject.toml
  sidecar/app/helpers.py
  sidecar/app/query/ipa.py
  sidecar/app/query/status.py
  sidecar/app/settings.py
  sidecar/tests/app/query/test_status.py
Due: pylint, pytest, pytest-coverage, pyre-check

Dark mode fixes
  server/app/query/page.tsx
  server/app/query/view/[id]/page.tsx
Due: npm-lint, npm-build, prettier, jest-tests

Dark mode fixes (#90)
  server/app/query/page.tsx
  server/app/query/view/[id]/page.tsx
Due: npm-lint, npm-build, prettier, jest-tests

fix bug in package.json
  server/package-lock.json
  server/package.json
Due: prettier

add .npmrc file
  server/.npmrc
Due: none

fix tailwind classname ordering
  server/app/query/page.tsx
  server/app/query/view/[id]/page.tsx
Due: npm-lint, npm-build, prettier, jest-tests

bring web ui in line with supported caps in IPA
  server/app/query/create/page.tsx
Due: npm-lint, npm-build, prettier, jest-tests

fix pre-commit bug (#92)
  server/.npmrc
  server/app/query/page.tsx
  server/app/query/view/[id]/page.tsx
Due: npm-lint, npm-build, prettier, jest-tests

bring web ui in line with supported caps in IPA (#91)
  server/app/query/create/page.tsx
Due: npm-lint, npm-build, prettier, jest-tests

Update rust version
  sidecar/ansible/provision.yaml
Due: none

Update rust version (#93)
  sidecar/ansible/provision.yaml
Due: none

update ansible git to only clone when repo isn't there
  sidecar/ansible/provision.yaml
Due: none

Update README.md
  README.md
Due: none

make certs last ~5 years
  sidecar/ansible/keygen.yaml
Due: none

update ansible git to only clone when repo isn't there (#95)
  sidecar/ansible/provision.yaml
Due: none

make certs last ~5 years (#98)
  sidecar/ansible/keygen.yaml
Due: none

fix ansible issues
  sidecar/ansible/deploy.yaml
Due: none
