Repository private-attribution/draft: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pytest, pytest-coverage, pyre-check, npm-lint, npm-build, prettier, jest-tests

pylint:
  name: pylint
  language: python
  entry: pylint
  args:
  - -rn

pytest:
  name: pytest
  language: python
  entry: pytest
  pass_filenames: false
  args:
  - --cov=sidecar

pytest-coverage:
  name: coverage
  language: python
  entry: coverage report
  pass_filenames: false
  args:
  - --fail-under=9

pyre-check:
  name: pyre-check
  entry: pyre check
  language: system
  pass_filenames: false

npm-lint:
  name: npm-lint
  entry: npm --prefix server run lint
  language: system
  pass_filenames: false

npm-build:
  name: npm-build
  entry: npm --prefix server run build
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: npx --prefix server prettier --config=server/.prettierrc --ignore-path=server/.prettierignore --check server
  language: system

jest-tests:
  name: jest-tests
  entry: npm --prefix server run test
  language: system
  pass_filenames: false

remove demo_test, accidentally added
  sidecar/tests/demo_test.py
Due: pylint, pytest, pytest-coverage, pyre-check

update .gitignore
  .gitignore
Due: none

fix starttime check in components.tsx
  server/app/query/view/[id]/components.tsx
Due: npm-lint, npm-build, prettier, jest-tests

Status events (#70)
  server/app/query/servers.tsx
  server/app/query/view/[id]/components.tsx
  server/app/query/view/[id]/page.tsx
  sidecar/app/query/base.py
  sidecar/app/routes/websockets.py
Due: pylint, pytest, pytest-coverage, pyre-check, npm-lint, npm-build, prettier, jest-tests

clean up mere commit
  sidecar/app/query/base.py
Due: pylint, pytest, pytest-coverage, pyre-check

Event history refactor (#71)
  .github/workflows/pre-commit.yaml
  .gitignore
  .pre-commit-config.yaml
  .pyre_configuration
  pyproject.toml
  sidecar/app/query/base.py
  sidecar/app/query/status.py
  sidecar/app/query/step.py
  sidecar/app/routes/start.py
  sidecar/app/routes/stop.py
  sidecar/app/routes/websockets.py
  sidecar/cli/cli.py
  sidecar/tests/__init__.py
  sidecar/tests/app/query/test_status.py
Due: pylint, pytest, pytest-coverage, pyre-check

initial query test, mocking env variables
  server/app/query/view/[id]/#components.tsx#
  sidecar/app/logger.py
  sidecar/app/query/base.py
  sidecar/app/query/ipa.py
  sidecar/app/routes/start.py
  sidecar/app/routes/stop.py
  sidecar/app/routes/websockets.py
  sidecar/app/settings.py
  sidecar/tests/app/query/test_base.py
Due: pylint, pytest, pytest-coverage, pyre-check

add more query tests
  sidecar/app/query/base.py
  sidecar/app/query/status.py
  sidecar/tests/app/query/test_base.py
Due: pylint, pytest, pytest-coverage, pyre-check

add pylint hint
  sidecar/app/query/base.py
Due: pylint, pytest, pytest-coverage, pyre-check

remove tmp file, accidental addition
  server/app/query/view/[id]/#components.tsx#
Due: none

add QueryManager, refactor query loading and running. add tests for /start routes
  .pre-commit-config.yaml
  sidecar/app/main.py
  sidecar/app/query/base.py
  sidecar/app/routes/start.py
  sidecar/app/routes/stop.py
  sidecar/app/routes/websockets.py
  sidecar/app/settings.py
  sidecar/tests/app/query/test_base.py
  sidecar/tests/app/routes/test_start.py
Due: pylint, pytest, pytest-coverage, pyre-check

add QueryRunner, fail if a query is running
  sidecar/app/query/base.py
  sidecar/app/routes/start.py
Due: pylint, pytest, pytest-coverage, pyre-check

fix bugs; add alert if query can't start
  server/app/alert.tsx
  server/app/query/create/page.tsx
  server/app/query/layout.tsx
  sidecar/app/query/base.py
  sidecar/app/routes/start.py
  sidecar/app/routes/websockets.py
  sidecar/tests/app/query/test_base.py
  sidecar/tests/app/routes/test_start.py
Due: pylint, pytest, pytest-coverage, pyre-check, npm-lint, npm-build, prettier, jest-tests

Update alert.tsx
  server/app/alert.tsx
Due: npm-lint, npm-build, prettier, jest-tests

Update sidecar/app/query/base.py
  sidecar/app/query/base.py
Due: pylint, pytest, pytest-coverage, pyre-check

move logger onto settings, only built once
  sidecar/app/logger.py
  sidecar/app/query/base.py
  sidecar/app/settings.py
Due: pylint, pytest, pytest-coverage, pyre-check

wrapper function for query not found
  sidecar/app/routes/http_helpers.py
  sidecar/app/routes/start.py
  sidecar/app/routes/stop.py
  sidecar/app/routes/websockets.py
Due: pylint, pytest, pytest-coverage, pyre-check

add comments to Query and QueryManager
  sidecar/app/query/base.py
Due: pylint, pytest, pytest-coverage, pyre-check

fix typing issue with logger and pydantic
  sidecar/app/settings.py
Due: pylint, pytest, pytest-coverage, pyre-check

small refactor to add configure logger method on settings
  sidecar/app/settings.py
Due: pylint, pytest, pytest-coverage, pyre-check

create check_capacity helper, add details to message when at capacity
  sidecar/app/routes/http_helpers.py
  sidecar/app/routes/start.py
Due: pylint, pytest, pytest-coverage, pyre-check

Query manager (#72)
  .pre-commit-config.yaml
  server/app/alert.tsx
  server/app/query/create/page.tsx
  server/app/query/layout.tsx
  sidecar/app/logger.py
  sidecar/app/main.py
  sidecar/app/query/base.py
  sidecar/app/query/ipa.py
  sidecar/app/query/status.py
  sidecar/app/routes/http_helpers.py
  sidecar/app/routes/start.py
  sidecar/app/routes/stop.py
  sidecar/app/routes/websockets.py
  sidecar/app/settings.py
  sidecar/tests/app/query/test_base.py
  sidecar/tests/app/routes/test_start.py
Due: pylint, pytest, pytest-coverage, pyre-check, npm-lint, npm-build, prettier, jest-tests

add page for running queries
  server/app/header.tsx
  server/app/page.tsx
  server/app/query/page.tsx
  server/app/query/servers.tsx
  server/app/query/view/[id]/page.tsx
  server/data/query.ts
  sidecar/app/routes/start.py
  sidecar/tests/app/routes/test_start.py
Due: pylint, pytest, pytest-coverage, pyre-check, npm-lint, npm-build, prettier, jest-tests

refactor to use a StatusEvent interface; update StatusEvent with polling instead of websocket
  server/app/query/page.tsx
  server/app/query/servers.tsx
  server/app/query/view/[id]/components.tsx
  server/app/query/view/[id]/page.tsx
  sidecar/app/query/ipa.py
  sidecar/app/routes/start.py
  sidecar/tests/app/routes/test_start.py
Due: pylint, pytest, pytest-coverage, pyre-check, npm-lint, npm-build, prettier, jest-tests

small cleanup
  server/app/query/page.tsx
  server/app/query/view/[id]/page.tsx
  server/data/query.ts
Due: npm-lint, npm-build, prettier, jest-tests

remove log polluter in websocket
  sidecar/app/routes/websockets.py
Due: pylint, pytest, pytest-coverage, pyre-check

fix elements needing key warning
  server/app/query/page.tsx
  server/app/query/view/[id]/page.tsx
Due: npm-lint, npm-build, prettier, jest-tests

set runTime before the first interval
  server/app/query/view/[id]/components.tsx
Due: npm-lint, npm-build, prettier, jest-tests

use Promise.all for fetching statusEvents concurrently across remoteServers; update comment in StasusEvent updater
  server/app/query/page.tsx
Due: npm-lint, npm-build, prettier, jest-tests

add page for running queries (#73)
  server/app/header.tsx
  server/app/page.tsx
  server/app/query/page.tsx
  server/app/query/servers.tsx
  server/app/query/view/[id]/components.tsx
  server/app/query/view/[id]/page.tsx
  server/data/query.ts
  sidecar/app/query/ipa.py
  sidecar/app/routes/start.py
  sidecar/app/routes/websockets.py
  sidecar/tests/app/routes/test_start.py
Due: pylint, pytest, pytest-coverage, pyre-check, npm-lint, npm-build, prettier, jest-tests

add .log at the end of log files
  sidecar/app/query/base.py
Due: pylint, pytest, pytest-coverage, pyre-check

bump ansible to install rust 1.80
  sidecar/ansible/provision.yaml
Due: none

also set default rust version
  sidecar/ansible/provision.yaml
Due: none

bump rust to 1.80 in ansible script (#75)
  sidecar/ansible/provision.yaml
Due: none

add .log at the end of log files (#74)
  sidecar/app/query/base.py
Due: pylint, pytest, pytest-coverage, pyre-check

Update README.md
  README.md
Due: none

Adding toggle that enables reveal based aggregation
  server/app/query/create/page.tsx
  sidecar/app/query/ipa.py
  sidecar/app/routes/start.py
Due: pylint, pytest, pytest-coverage, pyre-check, npm-lint, npm-build, prettier, jest-tests

Fixing test
  sidecar/tests/app/routes/test_start.py
Due: pylint, pytest, pytest-coverage, pyre-check

Linting
  server/app/query/create/page.tsx
Due: npm-lint, npm-build, prettier, jest-tests

Disabling too-many-instance-attributes in IPAHelperCompileStep
  sidecar/app/query/ipa.py
Due: pylint, pytest, pytest-coverage, pyre-check

Path conditions:
  pylint: any of: \.py$
  pytest: any of: \.py$
  pytest-coverage: any of: \.py$
  pyre-check: any of: \.py$
  npm-lint: any of: ^server/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  npm-build: any of: ^server/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  prettier: any of: ^server/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$
  jest-tests: any of: ^server/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
